<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
</head>
<body>
  <h1>Create New Post</h1>
  <br />
  <form action="/create-new-post" method="post">
    <input type="text" name="title" placeholder="Title" size="32"></input> <br />
    <textarea name="context" placeholder="Tell about your code..." rows="8" cols="32"></textarea> <br />
    <textarea name="content" placeholder="Code here..." rows="32" cols="80"></textarea>
    <input type="submit" text="Post" />
  </form>
</body>
</html>