{% extends "layout.html" %}

{% block title %}New Post{% endblock %}

{% block body %}
  <br />
  {% if not post %}
  <h1>Create New Post</h1>
  Language: <br />
  <select name="language" form="post-form">
      <option value="any">Any</option>
      <option value="python">Python</option>
      <option value="C">C</option>
    </select>
  <br />
  <form action="/create-new-post" method="post" id="post-form">
    <input type="text" name="title" placeholder="Title" size="32"></input> <br />
    <textarea name="context" placeholder="Tell about your code..." rows="8" cols="32"></textarea> <br />
    <textarea name="content" placeholder="Code here..." rows="32" cols="80"></textarea>
    <input type="submit" text="Post" />
  </form>
  {% else %}
  <h1>Update Post</h1>
    <form action="/edit-post/{{ post.id }}" method="post" name="post-form">
    <input type="text" name="title" placeholder="Title" size="32" value="{{ post.title }}"> </input> <br />
    <textarea name="context" placeholder="Tell about your code..." rows="8" cols="32">{{ post.context }}</textarea> <br />
    <textarea name="content" placeholder="Code here..." rows="32" cols="80">{{ post.content }}</textarea>
    <input type="submit" text="Post" />
  </form>
  {% endif %}
{% endblock %}
