{% extends "layout.html" %}

{% block title %}New Post{% endblock %}

{% block body %}
  <h1>Create New Post</h1>
  <br />
  {% if not post %}
  <form action="/create-new-post" method="post">
    <input type="text" name="title" placeholder="Title" size="32"></input> <br />
    <textarea name="context" placeholder="Tell about your code..." rows="8" cols="32"></textarea> <br />
    <textarea name="content" placeholder="Code here..." rows="32" cols="80"></textarea>
    <input type="submit" text="Post" />
  </form>
  {% else %}
    <form action="/edit-post/{{ post.id }}" method="post">
    <input type="text" name="title" placeholder="Title" size="32" value="{{ post.title }}"> </input> <br />
    <textarea name="context" placeholder="Tell about your code..." rows="8" cols="32">{{ post.context }}</textarea> <br />
    <textarea name="content" placeholder="Code here..." rows="32" cols="80">{{ post.content }}</textarea>
    <input type="submit" text="Post" />
  </form>
  {% endif %}
{% endblock %}
