{% extends "layout.html" %}

{%block title%}{{ post.title }}{% endblock %}

{% block body %}
<h2>{{ post.title }} ({{ post.language }})</h2>
<hl />

<p>{{ post.context }}</p>

<code>
  {{ post.content }}
</code>

{% if post.poster_id == session['user_id'] %}
<hr />
<a href="/edit-post-form/{{ post.id }}">Edit</a> | 
<a href="/delete/{{ post.id }}">Delete</a>
{% endif %}
<br />

<form action="/add-comment/{{ post.id }}" method='post'>
  <h2>Add comment:</h2>
  <textarea name="comment-text" placeholder="Comment..." rows="4" cols="32"></textarea> <br />
  <input type="hidden" name="commenter-id" value="{{ session.user_id }}" />
  <input type="submit" value="Comment" />
</form>

{% include "comment-list.html" %}


{% endblock %}
