<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <h1>Sign Up</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form action="/signup" method="post">
    <input type="text" name="username" placeholder="Username" size="16" /> <br />
    <input type="password" name="password" placeholder="Password" size="16" /> <br />
    <input type="password" name="password-again" placeholder="Password Again" size="16" /> <br />
    <input type="submit" value="Sign Up" />
  </form>

  <p>Already a user? <a href="{{ url_for('login_form') }}">Log in!</a></p>
</body>

</html>